<ion-header-bar align-title="center" class="bar-light button-login">
    <div class="buttons">
        <button class="button button-icon icon ion-ios-arrow-back button-login" ng-click="$ionicGoBack()"></button>
    </div>
    <div class="h1 title  button-login" >{{toolInfo.tool_id}}</div> 
</ion-header-bar>
<ion-view>
    <ion-content class="info"  style="background: #f6f5fa;">
        <ion-list>
            <ion-item>
                设备名称
                <span class="item-note">G3015F/G4020F光纤激光切割机</span>
            </ion-item>
             <ion-item>
                设备ID
                <span class="item-note">ABS0000001</span>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item>
                客户ID
                <span class="item-note">000001</span>
            </ion-item>
             <ion-item>
                客户名称
                <span class="item-note">易士软件(上海)有限公司</span>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item>
                出厂时间
                <span class="item-note">2001.2.21</span>
            </ion-item>
             <ion-item>
                接入时间
                <span class="item-note">2017.8.10 15:22</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
