<ion-header-bar align-title="center" class="bar-light" style="border-bottom: 1px solid #ddd;">
    <button class="button button-icon icon ion-navicon"></button>
  <div class="h1 title">HanSmart</div>
  <button class="button button-icon  ion-ios-refresh-empty"></button>
</ion-header-bar>
<ion-view>
    <ion-content has-bouncing="true" overflow-scroll="true">
        <div class="bar bar-header item-input-inset">
          <label class="item-input-wrapper" style="background-color: transparent;border:1px solid #ddd;">
            <input type="search" placeholder="请输入想要搜索的内容" ng-model="mysearch">
          </label>
        </div>
         <ion-refresher on-refresh="doRefresh()" pulling-text="下拉刷新" refreshing-text="正在刷新" refreshing-icon="ion-loading-b"></ion-refresher>
          <ion-list   can-swipe="true" >       
            <ion-item collection-repeat="item in items|filter:mysearch" class="item  item-avatar item-remove-animate" item="item" ng-href="#/tab/listDetails/{{item.tool_id}}" type="item-text-wrap" >                 
                <img ng-src="img/invite.png">
                <h2>{{item.tool_id}}</h2>
                <p>
                    <span class="pull-left">{{item.tool_name}}</span>
                    <span class="pull-right list-state" ng-class="{active:item.state=='已接入'}">{{item.state}}</span>
                 </p>
                <ion-option-button class="button-gray"
                                                   ng-click="edit(item)">
                                  编辑
                </ion-option-button>
                <ion-option-button class="button-login"
                                                   ng-click="assign(item)">
                                  分配
                </ion-option-button>
            </ion-item>
                           
        </ion-list>
    </ion-content>
</ion-view>
